* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/jaguar-xe.jpg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

